<%- include('./elements/header'); %>
    <div class="container">

      
      <% if (!session.userId) { %>
        <p>Para ver el contenido debe hacer <a href="/login">login</a></p>
      <% } %>

      <% // contenido para usuarios logados %>
      <% if (session.userId) { %>
        <h1>My Products</h1>

        <table class="table table-hover">
          <thead><tr>
            <th>Name</th>
            <th style="text-align: right">Price</th>
            <th>Image</th>
            <th>Tags</th>
            <th>Actions</th>
          </tr></thead>
          <tbody>
          <% products.forEach(product => { %>
            <tr>
              <td><a href="/products/<%= product._id %>"><%= product.name %></a></td>
              <td style="text-align: right"><%= product.price / 100 %>€</td>
              <td><img src="images/products/<%= product.image %>"></td>
              <td><%= product.tags.join(', ') %></td>
              <td>
              <form
                  action="/delete/<%= product._id %>"
                  method="post"
                  onsubmit="return confirm('Are you sure you want to delete it?');"
                  class="flex-1"
                >
              <button
              type="submit"
              class="w-full bg-red-500 hover:bg-red-600 text-white font-semibold py-3 rounded-lg transition"
            >
            Delete product
            </button>
        </form>
            </td>
            </tr>
          <% }) %>
          </tbody>
        </table>
        <p>
          total <%= totalCount %> products.
        </p>
        <p>
          <!-- prev page -->
          <% if (skipPrev >= 0) { %>
            <a href="?limit=<%= pageSize %>&skip=<%= skipPrev %>">prev</a>
          <% } else { %>
            <span style="color: lightgray;">prev</span>
          <% } %>

          <!-- next page -->
          <% if (skipNext < totalCount) { %>
            <a href="?limit=<%= pageSize %>&skip=<%= skipNext %>">next</a>
          <% } else { %>
            <span style="color: lightgray;">next</span>
          <% } %>
        </p>
      <% } %>
  </div>

  </body>
</html>
