<%- include('./elements/header'); %>
<div class="container">

  <% if (!session.userId) { %>
    <p style="color: #a855f7;">Too see the content you must <a href="/login" style="color: #a855f7;">login</a></p>
  <% } %>

  <% if (session.userId) { %>
    <h1 style="color: #a855f7;"><%= __('My Products') %></h1>

    <table class="table table-hover">
      <thead>
        <tr style="color: #a855f7;">
          <th><%= __('Name') %></th>
          <th style="text-align: right"><%= __('Price') %></th>
          <th><%= __('Image') %></th>
          <th><%= __('Tags') %></th>
          <th><%= __('Actions') %></th>
        </tr>
      </thead>
      <tbody>
      <% products.forEach(product => { %>
        <tr style="color: #a855f7;">
          <td><a href="/products/<%= product._id %>" style="color: #a855f7;"><%= product.name %></a></td>
          <td style="text-align: right"><%= product.price %>€</td>
          <td><img src="products/<%= product.image %>"></td>
          <td><%= product.tags.join(', ') %></td>
          <td>
            <form
              action="/delete/<%= product._id %>"
              method="post"
              onsubmit="return confirm('<%= __(`Are you sure you want to delete it?`) %>');"
              class="flex-1"
            >
              <button
                type="submit"
                class="w-full bg-[#a855f7] hover:bg-[#9333ea] text-white font-semibold py-3 rounded-lg transition"
              >
                <%= __('Delete product') %>
              </button>
            </form>
          </td>
        </tr>
      <% }) %>
      </tbody>
    </table>

    <p style="color: #a855f7;">
      <%= __('All') %> <%= totalCount %> <%= __('products') %>
    </p>

    <p>
      <% if (skipPrev >= 0) { %>
        <a href="?limit=<%= pageSize %>&skip=<%= skipPrev %>" style="color: #a855f7;">prev</a>
      <% } else { %>
        <span style="color: lightgray;">prev</span>
      <% } %>

      <% if (skipNext < totalCount) { %>
        <a href="?limit=<%= pageSize %>&skip=<%= skipNext %>" style="color: #a855f7;">next</a>
      <% } else { %>
        <span style="color: lightgray;">next</span>
      <% } %>
    </p>

  <% } %>
</div>

</body>
</html>